@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">StatLigue1</h1>
    <p>Statistique detaillés sur la Ligue 1 ( Equipes, Joueurs, Classement) </p>
    <img src="images/ligue1.png">
    
</div>
